<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Stable Currency</title>
    <link rel="stylesheet"  href="css/style.css" type="text/css" >
</head>
<body>

<div class="content">
    <div class="header">
        <div class="logo">
            <a href="#">
            <img src="image/logo_white.png">
            </a>


        </div>
        <h2>Stable Currency</h2>
        <div class="menu">
           <img src="image/menu.png" id="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#ask">FAQs</a></li>
            </ul>
        </div>
        <div class="mobile_menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#ask">FAQs</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="banner_container">
            <div  class="container_info">
                <h1>Stable Currency for<br/> Token Era</h1>
              <h3><span style="color: #ffffff;">Simple and Secure</span></h3>


            </div>
        </div>


    </div>
    <!--<div class="announcement">-->
        <!--<h2>-->
            <!--<span>-->
                <!--<strong>News&nbsp;</strong>-->
            <!--</span>-->
            <!--<span>&nbsp; &nbsp; &nbsp;Tether Announcement&nbsp;| &nbsp;<a href="" target="_blank">Read More</a></span>-->
        <!--</h2>-->
    <!--</div>-->
    <div class="update">
        <h1>Transparency update</h1>
        <span>
            <a id="proof" href="#">Proof of funds</a>
        </span>



    </div>
    <div class="characteristics">
        <div class="top-head">
            <h1>Stable Currency Based on Blockchain Technologies
            </h1>
        </div>
        <div class="top-body">
            <div class="side">
                <img class="side_img" src="image/logo.png"/>
                <div class="side_content">
                    <h4 style="font-size:22px;font-weight:300;">Stable Currency</h4>
                    <p>Stable currency converts major cryptocurrencies such as BTC/ETH into cryptocurrencies that pegged to fiat currencies like the US dollar, the Euro, and the Chinese Yuan.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="side">
                <img class="side_img" src="image/pay.png"/>
                <div class="side_content">
                    <h4 style="font-size:22px;font-weight:300;"> >120% Backed</h4>
                    <p>Every issued token is always backed with at least 120% blockchain assets (BTC/ETH)  in reserved accounts.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="side">
                <img class="side_img" src="image/Transparent.png"/>
                <div class="side_content">
                    <h4 style="font-size:22px;font-weight:300;">Transparent</h4>
                    <p>The reserved asset addresses are published and subject to frequent professional audits. All tokens in circulation always match the reserves.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="side">
                <img class="side_img" src="image/blockchain.png"/>
                <div class="side_content">
                    <h4 style="font-size:22px;font-weight:300;">Blockchain Technology</h4>
                    <p>The SCTS platform is built on top of Ethereum blockchain, leveraging the security and transparence of smart-contract technologies.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="side">
                <img class="side_img" src="image/Integration.png"/>
                <div class="side_content">
                    <h4 style="font-size:22px;font-weight:300;">Easy to Integration</h4>
                    <p>All stable currency tokens are ERC-20 compatible - the most popular token standard that easy to integration.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="side">
                <img class="side_img" src="image/security.png"/>
                <div class="side_content">
                    <h4 style="font-size:22px;font-weight:300;">Secure</h4>
                    <p>Developed by blockchain veteran, code is reviewed and maintained by a large group of technical community members.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>

    <div class="money">
        <h1><span style="">Built for the Token Economy
</span></h1>
        <div class="money-body">
            <div class="money-side">
                <img src="image/server.png"/>
                <h3>Blockchain Service Organizations</h3>
                <ul>
                    <li>Offer your services in a fiat-like experience.
                    </li>
                    <li>An interchange system to convert between some "universal token" and all of the
                        different app tokens.
                    </li>
                </ul>
            </div>


            <div class="money-side">
                <img src="image/exchange.png"/>
                <h3>Markets and Exchanges</h3>
                <ul>
                    <li>Easy to deposit and withdrawal with existing platform and secure to manage.
                    </li>
                    <li>Reduce overhead by bypassing financial institutions

                    </li>

                </ul>
            </div>


            <div class="money-side">
                <img src="image/traders.png"/>
                <h3>Individuals/Traders</h3>
                <ul>
                    <li>A low-volatility cryptoasset
                    </li>
                    <li>Easy to move currency between exchanges and wallets

                    </li>

                </ul>
            </div>






            <div class="clearfix"></div>



        </div>




    </div>

    <div class="ask" id="ask">
        <div class="top-head">
            <h1>Frequently Asked Questions
            </h1>
        </div>

        <div class="ask-content">
            <h3>What is Stable Currency Token?
            </h3>
            <div class="ask-p">
            <p>Stable currency token is cryptocurrency created by the SCTS system, a decentralized platform that runs on the Ethereum blockchain. Right now, there are four types of currency tokens: SUSD, SEUR, SGBP and SCNY. All tokens price stabilized against the value of different US dollar amount.
            </p>
            <p>SUSD price stabilized against 1.00 US$.</p>
            <p>SEUR price stabilized against 1.24 US$.</p>
            <p>SGBP price stabilized against 1.40 US$.</p>
            <p>SCNY Token price stabilized against 0.16 US$.</p>
            <p class="info-p">(The price against US$ of each stable currency token could be vary due to volatility in currency markets.)</p>
           </div>

        </div>

        <div class="ask-content">
            <h3>Is this another tether?
            </h3>
            <div class="ask-p">
                <p>No. In contrast to tether, stable currency token system is a safe and creditable decentralized solution to issue tokens that pegged to fiat currencies. The mechanism of SCTS ensures issued tokens are 100% reliable and always at least 120% backed to actual value.</p>

            </div>

        </div>

        <div class="ask-content">
            <h3>What is SCTS?
            </h3>
            <div class="ask-p">
                <p>SCTS (Stable Currency Token System) is a smart contract platform that backs and stabilizes the value of tokens through a dynamic system of debt positions, close positions and autonomous control mechanisms. SCTS system enables qualified makers to leverage their major cryptocurrencies to generate stable tokens on the platform. Cryptocurrencies over different blockchain networks can be converted through SCTS atomic swap system.
                </p>

            </div>

        </div>

        <div class="ask-content">
            <h3>Who built SCTS platform?
            </h3>
            <div class="ask-p">
                <p>A group of cryptocurrency fans started this project at first. Right now, SCTS is a decentralized autonomous organization on the Ethereum blockchain network. No one but code itself are managing the system. A large number of communities over the world are supporting SCTS system to keep the ecosystem strong and healthy.
                </p>

            </div>

        </div>


        <div class="ask-content">
            <h3>Are SCTS tokens transparent? How do I know the deposited assets are secure?
            </h3>
            <div class="ask-p">
                <p>All tokens (SUSD,SEUR, SGBP, SCNY) issued by SCTS system are 120%+ backed by actual cryptocurrency assets such as BTC/ETH in system reserved accounts. The reserved accounts are managed by smart-contact system with multi-signatures technologies, no one (includes system creator) have access to those reserved accounts except the smart-contract system itself. The reserved addresses are published and available for public supervise.
                </p>

            </div>

        </div>


        <div class="ask-content">
            <h3>Can I convert stable currency token to fiat currency such as US dollar?
            </h3>
            <div class="ask-p">
                <p>No. All tokens (SUSD, SEUR, SGBP, SCNY) issued by SCTS system are not covertable with fiat currency since it is backed with same value of cryptocurrency rather than fiat currency. Thus, qualified makers can always return those tokens to smart contract system to get their locked assets back.
                </p>

            </div>

        </div>





    </div>

    <div class="footer">
            <p>© 2018 Stable Currency. All rights reserved.</p>

    </div>


</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"> </script>
<script type="text/javascript">
    $(function(){
        $(".ask-content h3").on("click",function(){
            if($(this).attr("data") == 1) {
                $($(this).attr("data",2))
                $(".ask-p").hide();
                $($(this).next()).hide();
            }else{
                $($(this).attr("data",1))
                $(".ask-p").hide();
                $($(this).next()).show();

            }
        })

        $("#proof").on("click",function(){

            $("#proof").html("Coming soon");
            $("#proof").attr("disabled","true");
        })
        $("#menu").toggle(function(){
            $(".mobile_menu").show()
        },function(){
            $(".mobile_menu").hide()
        })
        $(".mobile_menu li").on("click",function(){
            $(".mobile_menu").hide();
        })
    })

</script>



</body>
</html>